<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="courseName"> Course Name: </label>
    <input
      type="text"
      required
      minlength="5"
      ngModel
      name="courseName"
      #courseName="ngModel"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="courseName.touched && courseName.errors"
    >
      <div *ngIf="courseName.errors?.required">The name field is required</div>
      <div *ngIf="courseName.errors?.minlength">
        The course should be atleast
        {{ courseName.errors.minlength.requiredLength }} characters
      </div>
    </div>
    <div class="courseCategory">
      <label for="courseCategory">Course Category</label>
      <select
        id="courseCategory"
        class="form-control"
        ngModel
        name="courseCategory"
      >
        <option></option>
        <option *ngFor="let category of courseCategories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="checkBox">
      <label></label>
      <input type="checkbox" ngModel name="hasGuarantee" />
      30 Day Money Back guarantee
    </div>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>
